@tailwind base;
@tailwind components;
@tailwind utilities;


.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal-content p {
    margin-bottom: 16px;
    font-size: 18px;
}

.modal-content button {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:first-child {
    background-color: #ff5c5c;
    color: white;
}

.modal-content button:last-child {
    background-color: #ccc;
    color: #333;
}
